/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: #e4e4eb;
    color: #1e1e28;
}
.no_overflow_body {
    overflow: hidden; /* preventing scrollbars when animating transitions */
}
header {
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    font-size: 3.0rem;
    text-shadow: -4px 0 0 #b8b8c9 , 4px 0 0 #494960;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px;
}
a.button{
    padding: 6px 24px;
    color:#1e1e28;
    background: #e4e4eb;
    border: 1px dotted #1e1e28;
    border-radius: 12px;
}
main {
    display: flex;
    flex: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
footer {
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 0.6rem;
    color: #e4e4eb;
    background: #1e1e28;
}
footer a {
    color: #e4e4eb;
}
canvas {
    display: none;
    border: 0;
    background: #1e1e28;
    width: 1340px;
    height: 754px;
}
#gamescreen {
    border: 0;
    position: relative;
    width: 1340px;
    height: 754px;
}
hr {
    border: 1px solid #1e1e28;
    margin: 4px;
}
/* ===== Styles for the tutorial ===== */
.tutorials {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.key_hint {
    border: 1px solid #1e1e28;
    padding: 1px;
    margin: 2px;
    min-width: 24px;
    min-height: 24px;
    line-height: 24px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-style: normal;
    text-align: center;
    background: #ece8d8;
}
input[type="checkbox"] {
    display: none;
}
.tutorial_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tutorial_section {
    width: 100%;
}
.tutorial_section_label {
    display: flex;
    justify-content: center;
    padding: 1em;
    font-weight: bold;
    background: #ece8d8;
    border: 1px solid #1e1e28;
}
.tutorial_section_label:hover {
    background: #fcf8e8;
}
.tutorial_section_content {
    display: none;
    padding: 0 2em;
    color: #1e1e28;
    background: #fcf8e8;
    border: 1px solid #1e1e28;
}
input:checked ~ .tutorial_section_label {
    background: #494960;
    color: #e4e4eb;
}
input:checked ~ .tutorial_section_content {
    max-height: 100vh;
    padding: 1em;
    display: block;
}
/* ===== Styles for the Full Screen Mode ===== */
#fullscreen_mode_icon::after {
    position: absolute;
    bottom: 0px;
    right:0px;
    background: #fff;
    color: #1e1e28;
    width: 24px;
    height: 24px;
    margin: 4px;
    border-radius: 3px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    content: "\26F6";
}
.invisible_cursor {
    cursor: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"), auto;
}
#world_id_indicator {
    display: none;
    position: absolute;
    bottom: 0px;
    left:0px;
    background: #fff;
    color: #1e1e28;
    height: 24px;
    margin: 4px;
    padding: 0 6px 0 6px;
    border-radius: 3px;
    line-height: 26px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* ===== Styles for the Loading Bar Indicator ===== */
#loading_indicator_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background: #1e1e28;
}
#loading_indicator_container label {
    flex: 0 1 5%;
    color: #e4e4eb;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#loading_indicator {
    flex: 0 1 8%;
}
/* ===== Styles for the game over ===== */
#game_over_element {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: #fcf8e8;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #1e1e28;
    box-shadow: 5px 5px 5px #1e1e28;
    z-index: 5;
}
#game_over_element div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.game_over_title {
    font-size: 1.2rem;
    padding-bottom: 10px;
}
/* ===== Styles for the Prompt Question Element ===== */
#prompt_question_element {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background: #fcf8e8;
    padding: 10px;
    width: 320px;
    border-radius: 5px;
    border: 2px solid #1e1e28;
    box-shadow: 5px 5px 5px #1e1e28;
}
#prompt_question_title {
    text-align: center;
    padding: 4px;
    font-weight: bold;
}
#prompt_question_body {
    width: 300px;
    max-height: 140px;
    overflow-y: auto;
}
#prompt_question_buttons {
    display: flex;
    padding: 8px 0 0 0;
    flex-direction: row;
    justify-content: space-evenly;
}
#prompt_question_negative,
#prompt_question_positive {
    color: #1e1e28;
    background: #e0d3bf;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #1e1e28;
}
#prompt_question_negative:disabled,
#prompt_question_positive:disabled {
    color: #6f6f70;
    background: #ece5da;
}
/* ===== Styles for the Reward Element ===== */
#reward_element {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background: #fcf8e8;
    padding: 10px;
    width: 320px;
    border-radius: 5px;
    border: 2px solid #1e1e28;
    box-shadow: 5px 5px 5px #1e1e28;
}
#reward_title {
    text-align: center;
    padding: 4px;
    font-weight: bold;
}
#reward_body {
    width: 300px;
    max-height: 140px;
    overflow-y: auto;
}
#reward_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 8px;
}
#reward_feed {
    display: none;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
    z-index: 20;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px;
    max-width: 320px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* ===== Styles for the Inventory Element ===== */
#inventory_element {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background: #fcf8e8;
    width: 520px;
    min-height: 600px;
    max-height: 600px;
    border-radius: 5px;
    border: 2px solid #1e1e28;
    box-shadow: 5px 5px 5px #1e1e28;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.inventory_tabs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}
.inventory_tab {
    flex-grow: 1;
    color: #1e1e28;
    background: #ece8d8;
    font-weight: bold;
    text-align: center;
    padding: 8px 0 8px 0;
    border-top: 0;
    border-bottom: 1px solid #433d3c;
}
.inventory_tab_header {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.inventory_tab_header_icon {
    padding-right: 8px;
}
input[type="radio"] {
    display: none;
}
.inventory_panel {
    display: none;
    padding: 4px;
    margin: 4px;
    max-height: 540px;
    overflow-y: auto;
}
#radio_items:checked ~ div #inventory_panel_items,
#radio_diary:checked ~ div #inventory_panel_diary,
#radio_battle:checked ~ div #inventory_panel_battle,
#radio_log:checked ~ div #inventory_panel_log {
    display: block;
}
#radio_items:checked ~ div #tab_selector_items,
#radio_diary:checked ~ div #tab_selector_diary,
#radio_battle:checked ~ div #tab_selector_battle,
#radio_log:checked ~ div #tab_selector_log {
    color: #1e1e28;
    background: #fcf8e8;
    border-bottom: 1px solid transparent;
}
#tab_selector_items, #tab_selector_diary, #tab_selector_battle {
    border-right: 1px solid #1e1e28;
}
.inventory_item_list {
    list-style: square inside;
}
.inventory_item_list_entry {
    padding: 4px;
}
/* ===== Styles for the Battle menu ===== */
.attack_selection_element {
    display: flex;
    flex-direction: row;
    padding: 4px;
    align-self: center;
    justify-content: center;
}
.attack_selection_element label {
    padding-right: 16px;
}
#attack_level_1, #attack_level_2, #attack_level_3, #attack_level_4 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.attack_selection_dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.attack_description {
    padding-left: 8px;
    font-size: 0.9rem;
}
/* ===== Styles for the Diary ===== */
#inventory_panel_diary > div:nth-child(2n) {
    background: #ece8d8;
}
.inventory_panel_diary_entry {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding:8px 0 8px 0;
}
.flex_container_colum {
    display: flex;
    flex-direction: column;
}
.flex_item_25 {
    flex: 0 1 25%;
}
.flex_item_75 {
    flex: 0 1 75%;
}
.list_item_circles {
    list-style: circle inside;
}
.font_italic {
    font-style: italic;
}
/* ===== Styles for Thought Bubbles ===== */
#thought_bubble_element {
    display: none;
    position: absolute;
    top: 40%;
    right: 40%;
    transform: translate(-50%, -50%);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#thought {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    min-width: 40px;
    max-width: 220px;
    min-height: 40px;
    margin: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#thought:before,
#thought:after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}
#thought:before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
    box-shadow: -50px 30px 0 -12px #fff;
}
#thought:after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
    box-shadow: 40px -34px 0 0 #fff,
               -28px -6px 0 -2px #fff,
               -24px 17px 0 -6px #fff,
               -5px 25px 0 -10px #fff;
}
/* ===== Styles for Screen Effect Animations ===== */
.shake {
    animation: shake 0.2s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.battle {
    transform-origin: 50% 50%;
    animation: battle 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

@keyframes battle {
    from { transform: rotateZ(0) scale(1); filter: brightness(none); }
    to { transform: rotateZ(360deg) scale(20); filter: brightness(0); }
}
